
.carouselControlPrev{
      width: 10%;
      background: linear-gradient(90deg, #000 0%, #ffffff00 100%);
}
.carouselControlNext{
      width: 10%;
      background: linear-gradient(90deg, #ffffff00 0%, #000 100%);

}

