.ResaultDiagnostic {
    display: flex;
    align-items: center;
    border: 1px solid rgb(133, 132, 132);
    border-radius: 5px;
    margin: 5px 0;
    padding: 5px;
    background-color: rgb(241, 134, 134);
    cursor: pointer;
    transition: all 0.3s;

    @media (min-width: 1000px) {
        //для екраїнів більше 1000
        &:hover {
            div {
                transition: all 0.3s;
                border: 2px solid rgb(255, 196, 0);
                background: url("./../../../../img/icons/che.webp") 0/100%
                    no-repeat white;
            }
        }
    }

    div {
        min-width: 44px;
        height: 40px;
        display: inline-block;
        border-radius: 5px;
        border: 2px solid rgb(133, 132, 132);
        background-color: aliceblue;
        img {
            width: 40px;
            height: 38px;
        }
    }
    p {
        margin: 0 0 0 10px;
        line-height: 20px;
        cursor: pointer;
    }
}
.activeRes {
    background-color: rgba(0, 128, 0, 0.493);
}
.noShow{
    position: relative;
    left: -2000px;
    transition: left 1s;
}
.show{
    position: relative;
    left :0;
    transition: left 1s;
}
