.header {
    background-color: rgb(37, 37, 37);
    overflow-y: 9;
    &__head {
        color: #fbe400;
    }
    &__nav{
        display: flex;
        justify-content: center;
        margin-bottom: 8px;
        >img {
            display: none;
            @media (max-width: 1000px) {
                & {
                    display: inline-block;
                    width: 50px;
                    height: 50px;
                }
            }
        }
    }
    &__logo {
        display: block;
        img {
            width: 200px;
        }
    }
    &__location {
        display: flex;
        justify-content: space-around;
        margin-bottom: 8px;
        span {
            width: 33.3333%;
            text-align: center;
            @media (max-width: 1000px) {
                &{
                    width: 100%;
                }
            }
            &:first-child {
                text-transform: uppercase;
            }
            &:last-child {
                text-transform: uppercase;
            }
            @media (max-width: 1000px) {
                &:first-child {
                    display: none;
                }
                &:last-child {
                    display: none;
                }
            }
        }
    }
}
