.navbar {
    //для pc
    text-transform: uppercase;
    margin: 0 -10px 5px -10px;
    background-color: rgb(37, 37, 37);
    transition: left 0.3s ease;
    padding:0 10px;
    ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        a {
            transition: all 0.5s;
            color: white;
            cursor: pointer;
            &:hover {
                color: rgb(255, 217, 0);
            }
        }
        li {
            position: relative;
            .active {
                color: rgb(255, 0, 0);
            }
            .navbar__dropButton {
                color: white;
                background-color: rgba(37, 37, 37, 0);
                text-transform: uppercase;
                font-size: 16px;
                display: flex;
                align-items: center;
                transition: all 0.5s;
                &_downIcon {
                    display: block;
                    width: 0;
                    height: 0;
                    border-left: 5px solid transparent;
                    border-right: 5px solid transparent;
                    border-top: 10px solid white;
                    transition: transform 0.3s;
                    &.active {
                        transform: rotate(180deg);
                    }
                }
                .border {
                    color: white;
                    display: inline-block;
                    background-color: grey;
                    padding: 4px;
                    margin: 0 5px;
                    border: 1px solid white;
                    border-radius: 6px;
                    transition: all 0.5s;
                }
                @media (min-width: 750px) {
                    &:hover {
                        color: rgb(255, 217, 0);
                        .border {
                            color: rgb(255, 217, 0);
                        }
                    }
                }
            }
        }
        .navList {
            &_closed {
                display: none;
            }
            &_open {
                display: flex;
                flex-direction: column;
                position: absolute;
                top: 35px;
                background-color: rgb(37, 37, 37);
                left: -90px;
                width: 350px;
                padding: 10px;
                z-index: 10;
                border-radius: 10px;
                border: 1px solid grey;
                li {
                    text-align: start;
                    margin: 10px 0;
                    &:last-child {
                        border-top: 1px solid black;
                        margin-top: 0;
                        padding: 10px;
                    }
                }
            }
        }
    }
    @media (max-width: 750px) {
        //коли диспей стане меньший зробити прихованим (появисться іконка для відображення)
        position: absolute;
        width: 100%;
        left: -100%;
        background-color: rgba(37, 37, 37, 0.877);
        backdrop-filter: blur(9px);
        height: 1000px;
        ul {
            flex-direction: column;
            width: 100%;
            li {
                padding: 20px;
                font-size: 20px;
                width: 100%;
                display: flex;
                justify-content: center;
                .navbar__dropButton {
                    font-size: 20px;
                }
            }
            .navList {
                &_open {
                    top: 70px;
                    left: 0;
                    width: 100%;
                    padding: 10px;
                    li {
                        width: 100%;
                        padding: 5px;
                    }
                }
            }
        }
    }
    &_active {
        //для mobile (коли нажметься іконка меню)
        left: 10px;
    }
}
