.BatteryCharging{
      text-align: center;
      width: 100%;
     padding: 10%;
     padding-top: 2%;
}
.BatteryCharging img{
      width: 60%;
}
.BatteryCharging p{
      text-align:justify;

}
.BatteryCharging ul{
      text-align:left;
}
@media (max-width: 767px) {
      .BatteryCharging img{
            width: 100%;
      }
      .BatteryCharging{
           padding: 2%;
           padding-top: 2%;
      }
    }