.instruction {
    width: 100%;
    margin-bottom: 20px;
    background-color: rgb(37, 37, 37);
    &__spoiler {
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        border: 1px solid white;
        button {
            background-color: rgba(240, 248, 255, 0);
            color: white;
            margin-right: 10px;
        }
        &_downIcon {
            display: block;
            width: 0;
            height: 0;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-top: 10px solid white;
            transition: transform 0.3s;
            &.active {
                transform: rotate(180deg);
            }
        }
    }
    &__body {
        background-color: rgba(248, 204, 7, 0);
        padding: 10px 0;
        width: 100%;
        img {
            width: 75%;
        }
        video{
            width: 50%;
            @media(max-width: 600px){
                width: 90%;
            }
        }
    }
}
