.Item {
    width: 30%;
    min-width: 320px;
    padding: 15px 5px;
    background-color: white;
    margin: 0 5px 25px 5px;
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(245, 169, 4);
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgb(245, 169, 4);
    text-align: center;
    &:hover{
        box-shadow: 2.5px 2.5px 10px rgb(245, 169, 4);
        position: relative;
        top: 2.5px;
        left: 2.5px;
    }
    h5 {
        font-size: 20px;
        font-weight: 600;
        text-align: center;


    }
    h6 {
        font-weight: 600;
        text-align: center;
        color: red;
    }
    p {
        text-align: center;
        display: flex;
        flex: 1 1 auto;
        align-items: center;
    }
    
}
